body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin: 0 0 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin: 0 0 10px;
}

.controls {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.controls button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.controls button:disabled {
  background-color: #ddd;
  color: #aaa;
  cursor: not-allowed;
}

.playlist-container {
  margin-bottom: 20px;
}

.playlist {
  display: flex;
  flex-direction: column;
}

.playlist div:hover {
  background-color: #f2f2f2;
}

.song {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.active {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  background-color: #4CAF50;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.inactive {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  background-color: #ff1100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#link {
  margin-top: 20px;
  text-align: center;
}

.btn {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #3c8dbc;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #367fa9;
}
